$body-background: linear-gradient(to right, rgba(255,255,255,0), rgba(30,75,155,1)), url('../images/peacock.jpg') bottom fixed no-repeat;
$content-color: white;
$grey-lighter: #f5f7fa;
$text: $grey-lighter;

@import "bulma";

body {
  background-size: cover;
}
.nav {
  background: transparent;
  padding: 0 15px;
  .nav-left h1 {
    color: white;
    font-size: 32px;
    font-family: cursive;
  }
}

.hero {
  margin-top: 20em;
  height: 5em;
  .content {
  }
}

.section {
  background: transparent;
  min-height: 790px;

  .container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
  }
    .title {
      color: $white;
      font-family: fantasy;
      margin-bottom: 1em;
    }
    .content {
      color: $white;
      margin-bottom: 2em;
      .box {
        background: transparent;
      }
    }
    .table {
      color: $text;
      background: transparent;
    }
}
