<div class="container">
  <div class="heading is-medium">
    <h2 class="title">Contact</h2>
  </div>
  <div class="content">
    <p>
      Tart halvah chocolate bar fruitcake jelly beans. Cupcake fruitcake tiramisu candy. Gummi bears toffee candy.
    </p>

    <p>
      Icing muffin danish tiramisu candy gummi bears gingerbread sweet roll tiramisu. Liquorice croissant croissant gummies gingerbread biscuit soufflé. Toffee pastry icing macaroon gingerbread apple pie bear claw. Cake cupcake lemon drops chocolate macaroon pastry dessert cake caramels. Oat cake cotton candy tootsie roll croissant sweet chocolate bar pie. Candy tootsie roll chocolate toffee sugar plum caramels toffee.
    </p>

    <p class="title is-5">Appointments:</p>
    <p class="subtitle is-6">(xxx)xxx-xxx</p>
  </div>
</div>
