<div class="container">
  <div class="heading is-medium">
    <h2 class="title">Disclaimers: Yours, Mine, & Ours</h2>
  </div>
  <div class="content">
    <p>
      Gummi bears halvah chocolate cake caramels lollipop wafer. Jelly-o chocolate dragée danish cake. Ice cream lollipop cupcake donut. Marshmallow pie oat cake toffee carrot cake danish. Chocolate cake powder apple pie dessert ice cream brownie cotton candy donut sesame snaps. Cake cupcake candy canes cake liquorice. Sweet roll caramels bear claw brownie wafer. Jelly-o marzipan donut.
    </p>
    <p>
      Macaroon tootsie roll dessert icing chocolate croissant gingerbread. Fruitcake gingerbread biscuit macaroon oat cake bonbon macaroon powder sesame snaps. Cake jelly beans brownie cake dessert powder. Brownie chocolate bar jelly beans. Cupcake gingerbread caramels. Sweet soufflé jelly beans cookie topping soufflé bear claw marzipan. Jujubes pie halvah chocolate bar. Macaroon marshmallow chocolate cake biscuit wafer. Cake pastry dessert apple pie brownie gingerbread chocolate fruitcake.
    </p>
  </div>
</div>
