<nav class="nav">

  <ul class="nav-right">
    <li><a href="/#/" class="nav-item">Home</a></li>
    <li><a href="/#/menu" class="nav-item">Menu</a></li>
    <li><a href="/#/gallery" class="nav-item">Gallery</a></li>
    <li><a href="/#/reviews" class="nav-item">Reviews</a></li>
    <li><a href="/#/mine" class="nav-item">Mine</a></li>
    <li><a href="/#/yours" class="nav-item">Yours</a></li>
    <li><a href="/#/contact" class="nav-item">Contact</a></li>
  </ul>
</nav>


<section class="section" ui-view></section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; Garrison 2016</p>
    </div>
  </div>
</footer>
