<nav class="nav">
    <div class="nav-left">
      <a href="/#/" class="nav-item">Karizmatic</a>
    </div>
    <div class="nav-right">
      <a href="/#/menu" class="nav-item">Menu</a>
      <a href="/#/gallery" class="nav-item">Gallery</a>
      <a href="/#/reviews" class="nav-item">Reviews</a>
      <a href="/#/mine" class="nav-item">Mine</a>
      <a href="/#/yours" class="nav-item">Yours</a>
      <a href="/#/contact" class="nav-item">Contact</a>
    </div>
</nav>


<section class="section" ui-view></section>


<footer id="footer" class="hero is-primary is-bold">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; Garrison 2016</p>
    </div>
  </div>
</footer>
