<nav class="nav">
  <div class="nav-left">
    <a href="/#/" class="nav-item">Home</a>
    <a href="/#/menu" class="nav-item">Menu</a>
    <a href="/#/candy" class="nav-item">Candy</a>
    <a href="/#/reviews" class="nav-item">Reviews</a>
    <a href="/#/mine" class="nav-item">Mine</a>
    <a href="/#/yours" class="nav-item">Yours</a>
    <a href="/#/contact" class="nav-item">Contact</a>
  </div>
</nav>


<section class="section" ui-view></section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; Garrison 2016</p>
    </div>
  </div>
</footer>
