<h2 class="title">Rates</h2>

<div class="box">
  <p>
    Tart halvah chocolate bar fruitcake jelly beans. Cupcake fruitcake tiramisu candy. Gummi bears toffee candy.
  </p>

  <table class="table is-striped">
    <tbody>
      <tr>
        <td>1 Hour</td>
        <td>$280</td>
      </tr>
      <tr>
        <td>1.5 Hours</td>
        <td>$490</td>
      </tr>
      <tr>
        <td>2 Hours</td>
        <td>$560</td>
      </tr>
      <tr>
        <td>2.5 Hours</td>
        <td>$680</td>
      </tr>
      <tr>
        <td>3 Hours</td>
        <td>$800</td>
      </tr>
      <tr>
        <td>3.5 Hours</td>
        <td>$940</td>
      </tr>
      <tr>
        <td>4 Hours</td>
        <td>$1,060</td>
      </tr>
      <tr>
        <td>4.5 Hours</td>
        <td>$1,200</td>
      </tr>
    </tbody>
  </table>

  <p>
    Marshmallow dessert powder soufflé fruitcake bonbon oat cake cookie jelly. Ice cream fruitcake tootsie roll jelly-o muffin bonbon pastry brownie pastry. Tart fruitcake tart muffin biscuit muffin oat cake marzipan. Jujubes pie fruitcake dragée chocolate bar wafer bear claw topping. Donut gingerbread powder marzipan oat cake. Macaroon cookie cupcake tart candy canes. Toffee toffee sweet roll jelly beans muffin ice cream danish cake gummi bears. Chocolate bar gummi bears topping pastry. Tart brownie brownie pudding jelly.
  </p>

  <p>
    Cookie jelly tart. Muffin gummi bears icing cookie donut. Lemon drops toffee jelly beans powder. Donut soufflé donut cheesecake sweet roll biscuit cheesecake croissant cheesecake. Brownie tiramisu brownie wafer macaroon jelly-o topping chocolate. Apple pie pastry caramels tiramisu topping topping sesame snaps tootsie roll.
  </p>
</div>
