<div class="container">
  <div class="heading is-medium">
    <h2 class="title">Reviews</h2>
  </div>
  <div class="content">

    <div class="box">
      <p>
        <strong>Username</strong> <small>xx/xx/xx</small>
        <br>
        Tart halvah chocolate bar fruitcake jelly beans. Cupcake fruitcake tiramisu candy. Gummi bears toffee candy.
      </p>
    </div>

    <div class="box">
      <p>
        <strong>Username</strong> <small>xx/xx/xx</small>
        <br>
        Marshmallow dessert powder soufflé fruitcake bonbon oat cake cookie jelly. Ice cream fruitcake tootsie roll jelly-o muffin bonbon pastry brownie pastry. Tart fruitcake tart muffin biscuit muffin oat cake marzipan.
      </p>
    </div>

    <div class="box">
      <p>
        <strong>Username</strong> <small>xx/xx/xx</small>
        <br>
        Brownie tiramisu brownie wafer macaroon jelly-o topping chocolate. Apple pie pastry caramels tiramisu topping topping sesame snaps tootsie roll.
      </p>
    </div>
  </div>
  
</div>
