<div class="container">
  <div class="heading is-medium">
    <h2 class="title">Sweet Karizmatic's Caribbean Lounge</h2>
  </div>
  <div class="content">
    <p>
      Tart halvah chocolate bar fruitcake jelly beans. Cupcake fruitcake tiramisu candy. Gummi bears toffee candy.
    </p>

    <p>
      Cake tiramisu cake cake chupa chups tiramisu wafer chocolate cake jujubes. Powder candy liquorice bonbon cheesecake cotton candy topping cake sugar plum. Jelly beans donut tootsie roll chocolate apple pie.
    </p>
  </div>
</div>
